/* Universal Styles */
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: black;
}

.main-container {
  font-family: "Roboto", sans-serif;
  position: relative;
  top: 4rem;
  background-color: lightgrey;
}

section {
  width: auto 0;
}

section:nth-child(2n+1) {
  background-color: darkgrey;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.0;
  padding-bottom: 2rem;
}

h2 {
  font-family: "Roboto",sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
}

p {
  line-height: 1.2;
  padding-bottom: 0.5rem;
}

/* Header */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 32px;
  top: 0;
  background-color: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header .content {
  display: flex;
  align-items: center;
}

header .logo {
  flex: 1;
  padding-left: 24px;
}

.logo img {
  height: 2rem;
}

.logo span {
  font-size: 2rem;
}

header nav ul {
  display: flex;
  padding-right: 24px;
}

nav li {
  padding-right: 16px;
}

nav a {
  text-decoration: none;
  color: black;
}

header .mobile {
  display: none;
}

/* Sign-up Section */
.side-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
  width: 30%;
}

.sign-up-container img {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  margin: 2rem 1.5rem;
}

.sign-up-container h3 {
  font-weight: normal;
}

.button {
  width: 75%;
  text-align: center;
  border-radius: 4px;
  background-color: orange;
  padding: 0.75rem 1.25rem;
  margin-top: 1.5rem;
}

/* Courses Section */
.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.courses-container {
  width: 90%;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.course-box {
  width: 30%;
  height: auto;
  margin: 1rem 1rem;
  background-color: white;
}

.course-box img {
  width: 100%;
}

.courses h2 {
  text-align: center;
  margin-top: 1rem;
}

.course-text {
  padding: 1rem 0 1.5rem 1rem;
}

/* Main Boxes for Info and Thesis Sections */
.stacked-containers {
  display: flex;
  width: 100%
  flex-wrap: nowrap;
}

.main-box {
  width: 65%;
  padding: 2rem 1.5rem;
}

.main-box img {
  width: 100%;
}

.main-box video {
  width: 100%;
  margin-bottom: 2rem;
}

.main-box h3 {
  margin-bottom: 0.5rem;
}

/* Vertical Containers for Info and Thesis Sections */
.vertical-containers {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  width: 40%;
}

.content-box img {
  width: 35%;
  vertical-align: middle;
  display: inline-block;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.content-box .side-text {
  display: inline-block;
  margin-left: 1.5rem;
}

.thesis h2 {
  text-align: center;
  margin-top: 1rem;
}

#mobile-pic {
  display: none;
}

/* Footer Section */
footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid darkgrey;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 4rem;
}

footer h5 {
  display: inline-block;
  padding: 1rem 1.5rem;
}

footer nav {
  padding-top: 1rem;
  padding-right: 1.5rem;
}

footer span {
  padding-left: 1rem;
}

/* Mobile Display */
@media only screen and (max-width:760px) {

  /* Hidden Items */
  .info .main-box, .course-box img, .course-box p, .thesis .vertical-containers,
  #desktop-pic, .thesis h3, .thesis p, footer nav {
    display: none;
  }

  /* Mobile Header */
  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
    height: 4rem;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

  /* Sign-up Section Mobile */
  .sign-up-container img {
    width: 100%;
    margin: auto;
  }

  .sign-up-container .side-text {
    width: 80%;
    margin: auto;
    padding: 2rem 1rem;
  }

  .button {
    width: 80%;
    align-self: left;
  }

  /* Information Section Mobile */
  #mobile-pic {
    display: block;
  }

  .vertical-containers {
    width: 100%;
  }

  .content-box {
    display: flex;
    flex-flow: column;
  }

  .content-box .side-text {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }

  .content-box img{
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 1rem 1rem;
  }

  /* Courses Section Mobile */
  .courses-container {
    flex-flow: column;
  }

  .course-box {
    width: 100%;
    height: auto;
    margin: auto;
    margin: 0 0 1rem 0;
  }

  .course-text {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    align-self: center;
  }

  /* Thesis Section Mobile */
  .thesis .main-box {
    width: 100%;
    padding-bottom: 0.5rem;
  }

  /* Footer Section Mobile */
  h5 {
    margin: 1rem 0rem;
  }
}
